section{
	position: relative;
	height: 100vh;
	max-width: 100%;
	max-height:100% ;

}
.home{
	height: 100vh;
		background-image: url(..//image/bg.jpg);
	background-size:cover;	
}
.home_mt{
	width: 50%;
	height: auto;
	position: absolute;
	left:25%;
	top:25%;
	text-align: center;
	
}
.home_mt div{
	float: left;
	color:#74c7d5;
	line-height: 0.8em;
	text-align: center;
	
}
.home_mt1{
	font-size: 3em;
}
.home_mt2{
	font-size: 6em;
}
.start{
	position: absolute;
	width: 20%;
	height: auto;
	top:70%;
	left: 40%;
	text-align: center;
	font-size: 2em;
	color: #74c7d5;
	line-height: 1em;
	
}






.wrap-serv{
	position: absolute;

	
}
.wrap-serv .row div{

	text-align: center;
	/*background-color: #c45158;*/
	color:#ffffff;


}
.wrap-serv .row .servt1{
	text-transform: uppercase;
}
.wrap-serv .row .servt1,.servt2{
	max-width: 50%;
	margin-left: 25%;
	height: auto;
}	

.wrap-serv .row .servicesimg{
	margin-top: 15%;

}
.wrap-serv{

	background-image: url(..//image/bg2.jpg);
	background-size: cover;
}
.wrap-serv .row .servicesimg:hover{
	opacity: 0.5;
	cursor: pointer;
}


#left{
margin-top:51%;
}



@media screen and (max-width: 800px) {
  section{
  	height: 100%;

  }
.wrap-serv{
	
	background-image: url(..//image/bg2.jpg);
	background-size: cover;
}
}