

nav ul {
	margin-left:50%;

}
nav ul li a{
	color:#ffffff
}
nav{
	background-image: url();
	
}
section{
	height: 100vh;
	max-width: 100%;
}
.home{
	background-image: url(..//image/bg.jpg);
	background-size: cover;
	
}
.main_text div{
	position: relative;
	float: left;
}









@media screen and (max-width: 800px) {
  nav ul{
  	margin-left:0%;
  }
  nav ul li a {

  	padding: 5px 5px  !important;
  }
}

