

nav ul {
	margin-left:50%;

}
nav ul li a{
	color:#ffffff
}
nav{
	background-image: url();
	
}
section{
	height: 100vh;
}
.home{
	background-image: url(..//image/bg.jpg);
	background-size: cover;
	
}
@media screen and (max-width: 800px) {
  nav ul{
  	margin-left:0%;
  }
  nav ul li{
  	padding: 0;
  }
}