
#home{
	width: 100%;
	height: 100vh;
	background-image: url(..//image/home_bg3.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.intro{
	left: 0;
	padding: 0 15px;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	-webkit-transform: translate(0%,-50%);
	-moz-transform: translate(0%,-50%);
	-ms-transform: translate(0%,-50%);
	-o-transform: translate(0%,-50%);
	transform: translate(0%,-50%);
	color: #fff;
}
.intro h1{
	text-transform: uppercase;
	letter-spacing: 5px;
	font: 700 40px/1.2 Raleway,sans-serif;
	font-weight: 800;	
}
.start{
	font-style: normal;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 0;
	text-transform: none;
}
.scroll-down{
	border: 2px solid #fff;
    border-radius: 50%;
    bottom: 40px;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    width: 50px;	
    color:#fff;
}
.scroll-down span {
	display: inline-block;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: linear;
    color: #fff;
    position: relative;
}
.animheader{
	opacity: 0;
	text-align: center;
	margin:90px 0 90px;

	
}
#services{
	 background: #f5f5f5 none repeat scroll 0 0;
	
}
.animheader h2{
text-transform: uppercase;
}
.insidePadding{
	padding: 120px 0 100px;
}
.iconbox {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #d4d4d4;
    margin: 0 0 20px;
    padding: 40px 20px;
    text-align: center;
}
.iconbox-icon{
	  color: #222;
    font-size: 32px;
}
.line{
	    border-bottom: 1px solid #d4d4d4;

}
.contain-work{
	clear: both;
    list-style: outside none none;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em 0 4em;
    position: relative;
    text-align: center;
}
.contain-work figure{
	cursor: pointer;
    float: left;
    height: auto;
    margin: 10px 1%;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background: #9e5406 none repeat scroll 0 0;
}
.contain-work figure img{
	display: block;
    max-width: 100%;
    min-height: auto;
    opacity: 0.8;
    position: relative;

}
.contain-work figure figcaption, .contain-work figure figcaption > a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.contain-work figure figcaption {
    backface-visibility: hidden;
    color: #fff;
    font-size: 1.25em;
    padding: 2em;
    text-transform: uppercase;
}
.contain-work figure figcaption p {
	opacity: 0;
 font-size: 70%;
 font-weight: bold;
  letter-spacing: 1px;
  

}

.contain-work figure h2{
    margin-top:18%;
}
.anim{
	display: inline-block;
    animation-delay: 0.7s;
    animation-duration: 1.5s;
    animation-play-state: running;
    animation-timing-function: linear;
}
.aboutmargin{
    text-align: center;
    margin: 120px 0 120px 0;
}
.testing{
    position: relative;
    margin: 30px 30px 150px 30px;
    text-align: left;
    /*visibility: hidden;*/
    display: none;
    font-size: 1.2em;


}
#about_me{
   /*visibility: visible;*/
   display: block;
}
.activ-about{
    opacity: 0.6;
}

.back-about{
    background: #fff;
    border-radius: 25px;
}
.anim-about:hover{
    cursor: pointer;
}
.contc{
text-align: left;
padding-top: 15px;
}
.skill-list{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: -50px;

}
.skill-list li{
    list-style-type: none;
    text-transform: uppercase;
     border-bottom: 1px solid rgba(128, 128, 128, 0.25);
    display: flex;
    justify-content: space-between;
}
@media (max-width: 750px) {
  #about{
    margin-bottom: 150px;
  }

}
#about{
    background-image: url(..//image/Backgrounds_Calm_blue_background_035582_.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    
}